/* SAMCSS-layout */

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.con-s {
    justify-content: flex-start;
}

.con-c {
    justify-content: center;
}

.con-e {
    justify-content: flex-end;
}

.con-b {
    justify-content: space-between;
}

.con-a {
    justify-content: space-around;
}

.align-s {
    align-items: flex-start;
}

.align-c {
    align-items: center;
}

.align-e {
    align-items: flex-end;
}

.item-grow {
    flex-grow: 1;
}