.fs-s {
    font-size: 12px;
    letter-spacing: 4px;
}

.fs-m {
    font-size: 16px;
    letter-spacing: 4px;
}

.fs-l {
    font-size: 20px;
    letter-spacing: 4px;
}

.fs-x {
    font-size: 24px;
    letter-spacing: 4px;
}

.fs-xl {
    font-size: 28px;
    letter-spacing: 4px;
}

.fc-default {
    color: #40403d;
}

.fc-white {
    color: #f4f4f0;
}

.fs-date {
    letter-spacing: 0 !important;
}